.container_profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_img {
    height: 120px;
    width: 120px;
    border: 3px dashed var(--branco);
    padding: 15px;
}

.profile_title {
    text-align: center;
    font-size: 32px;
    border-bottom: 3px solid var(--branco);
    padding: 10px 0;
}

.profile_texts {
    height: 80px;
    border-bottom: 3px solid var(--branco);
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile_texts > p {
    font-size: 20px;
}

.profile_pages {
    width: 520px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn_pgs {
    height: 25px;
    width: 25px;
    border: none;
    color: var(--branco);
    background-color: var(--roxo);
    margin: 0 15px;
    cursor: pointer;
}

.btn_pgs:hover {
    background-color: var(--marrom)
}

.ctn_boxs {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box_page {
    height: 80px;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 3px dashed var(--roxo);
    background-color: var(--lilas-claro);
    color: var(--branco);
    cursor: pointer;
    border-radius: 15px;
}

.box_page:hover {
    border: 3px dashed var(--branco);
    background-color: var(--marrom);
}

.box_page > p {
    font-size: 16px;
}

.profile_btns {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p_btn {
    height: 37.5px;
    width: 120px;
    border: none;
    cursor: pointer;
    background-color: var(--roxo);
    color: var(--branco);
    border-radius: 10px;
}

.p_btn:hover {
    background-color: var(--marrom);
}
