@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap'); /*Fonte: Roboto Condensad*/

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--bege);
}

h1, h2, h3, p {
    margin: 0;
}

<<<<<<< HEAD
input:focus {
    outline: none;
    box-shadow: none;
}
=======
/* teste */  
>>>>>>> 7f98bdb715a20b5bb4eb9b0aeb0a7f6c50b47803
