:root {
    --roxo: #57216D;
    --branco: #FFFFFF;
    --preto: #1E1E1E;
    --lilas: #C38BDA;
    --bege: #FFF8E1;
    --marrom: #9E6B7C;
    --lilas-claro: #D699EE;
    --lilas-palido: #CFC3D9;
    --rosa: #F87887;
    --vermelho: red;

    --roboto: 'Roboto Condensed', sans-serif;
}