:root {
    --verde-agua: #92CCB6;
    --roxo: #A569BD;
    --branco: #FFFFFF;
    --rosa: #F87887;
    --verde: #B6D89C;
    --amarelo: #F3D597;
    --preto: #1E1E1E;
    --bege: #FFF7E5;
    --roxo-claro: #AF7AC5;
}